/* Card.css */

body {
    background-color: #DDBEA9;
}

header {
    background-color: #A5A58D;
    padding: 55px;
}

footer {
    background-color: #A5A58D;
    padding: 55px;
    display: flex;
    justify-content: center;
}

/* Basic styles for the card */
.card {
    border: 1px solid #040000; 
    border-radius: 8px; 
    overflow: hidden; 
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3); /* Inward shadow */
    transition: transform 0.3s, box-shadow 0.3s; 
  }
  
  .card img {
    width: 100%;
    height: auto;
  }
  
  .card-body {
    padding: 1opx;
    text-align: center;
  }
  
  .card-title {
    font-size: 20px;
    color: #0d0000;
  }
  
  .card:hover {
    transform: translateY(-10px); /* Moves the card up slightly */
    box-shadow: inset 0 0 20px rgba(26, 10, 171, 0.2);
  }
  
  .card a {
    text-decoration: none;
    color: inherit;
    display: block;
  }
  