
.App {
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
  }
  
  .App .main-content {
    flex: 1; 
  }

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
      background-color: #08193b;
      height: 150px;
  }
  
  
  
  header {
      background-color: #d9d9d9;
      padding: 55px;
      display: flex;
      justify-content: center;
  }

 
  
    /* Adjustments for small screens (mobile) */
@media (max-width: 600px) {
    .header {
        flex-direction: column; 
        height: auto; 
        padding: 10px; 
    }
  
    .header h1 {
        font-size: 6vw; 
    }
  
    
  }
  
  /* Adjustments for medium screens (tablets) */
  @media (min-width: 601px) and (max-width: 1024px) {
    .header {
        height: 120px; 
        padding: 0 15px; 
    }
  
    .header h1 {
        font-size: 5vw; 
    }
  
   
  }
  
  /* Adjustments for large screens (desktops) */
  @media (min-width: 1025px) {
    .header {
        height: 150px; 
    }
  
    .header h1 {
        font-size: 3rem; 
    }
  
  
  }