.outer-headings {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 200px;
}

.inner-headings {
    border: 0px solid #ddd;
    height: 80px; /* Slightly smaller height */
    line-height: 80px; /* Adjust line-height accordingly */
    font-size: 90px; /* Slightly smaller font size */
    text-transform: uppercase;
    overflow: hidden;
    padding-left: 8%;
}

.inner-headings span {
    position: relative;
    color: #00b4d8;
    animation: animation 8s ease infinite;
    
}

@keyframes animation {
    0%, 
    100% {
        top: 0;
    }
    20% {
        top: 0;
    }
    25% {
        top: -80px; /* Adjust for new text size */
    }
    45% {
        top: -80px;
    }
    50% {
        top: -160px; /* Adjust for new text size */
    }
    70% {
        top: -160px;
    }
    75% {
        top: -240px; /* Adjust for new text size */
    }
    95% {
        top: -240px;
    }
}
