
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns, each taking equal space */
  gap: 20px; /* Optional: Space between the title and image */
  align-items: center; /* Center content vertically */
}

.grid-container h2 {
  grid-column: 1; /* Title in the first column */
  /* align-self: center;  */
}

.grid-container .card {
  grid-column: 2; /* Image in the second column */
  justify-self: center; /* Align the image to the right */
}

.title-description {
  grid-column: 1; /* Title and description in the first column */
  display: flex;
  flex-direction: column; /* Stack title and description vertically */
  margin-left: 60px;
  justify-self: center;
}

.title-description h2 {
  margin-bottom: 10px; 
}

.title-description ul {
  color: white; /* Optional: Style the description */
  list-style: none; /* Optional: Remove bullet points */
  padding: 0;
}


.portfolio {
   
    background-color: #002855; 
    position: relative;
}


  
  .scroll-buttons {
    position: fixed;
    right: 10px;
    bottom: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
  }
  
  .scroll-button {
    background: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  
  .scroll-button:hover {
    background: rgba(0, 0, 0, 0.7);
  }
  